{% extends "base.html.twig" %}

{% block title %}
    Upravit kategorii - #{{cat.id}} ({{cat.title}})
{% endblock %}

{% block body %}
    <h1 class="mb-4">
        Upravit kategorii - #{{cat.id}} ({{cat.title}})
    </h1>

    {{form_start(form)}}

        {{form_widget(form)}}

        <button class="btn btn-sm btn-success mt-3">
            Aktualizovat příspěvěk
        </button>

    {{form_end(form)}}
{% endblock %}