{% extends "base.html.twig" %}

{% block title %}
    Domů
{% endblock %}


{% block body %}

    {# Title #}
    <div class="row mb-5">
        <div class="col-12 text-center ">
            <h1 class=" border-bottom d-inline-block pb-2">
                Testovací úloha 1 - tvorba magazínu
            </h1>
        </div>
    </div>

    {# Newest main 2 posts #}
    {{ render(controller(
        'App\\Controller\\PostController::itemList', 
        { 'max': 2 }
    )) }}


    {# Next 4 newest posts #}
    {{ render(controller(
        'App\\Controller\\PostController::itemList', 
        { 'max': 4, "offset": 2, "size": "small" }
    )) }}


    {# List of categories with 4 newest posts of the category  #}
    {% for cat in categories %}
        <div class="row pt-4 mt-5 {{loop.index % 2 == 1 ? "bg-light" : "" }} ">
            <div class="col-12 pb-2 mb-4 d-flex flex-wrap justify-content-between align-items-end border-bottom">
                <h2 class="h3 mb-0">
                    {{cat.title}}
                </h2>

                <a href="/kategorie/{{cat.id}}" class="btn btn-sm btn-outline-success mb-1">
                    Detail kategorie
                </a>
            </div>

            {# 4 newest posts of current category #}
            {{ render(controller(
                'App\\Controller\\PostController::itemList', 
                { 'max': 4, "size": "small", "cat_id": cat.id }
            )) }}
        </div>
    {% endfor %}
{% endblock %}