{% extends "base.html.twig" %}

{% block body %}

    {# Edit & Delete buttons #}
    {% if app.user %}
        <div class="row mb-4">
            <div class="col-12 d-flex justify-content-end">
                <a class="btn btn-sm btn-outline-primary" href="/blog/upravit-clanek/{{post.id}}">
                    Upravit článek
                </a>

                <a class="btn btn-sm btn-danger ms-3" href="/blog/smazat-clanek/{{post.id}}">
                    Smazat článek
                </a>
            </div>
        </div>
    {% endif %}

    {# Article itself #}
    <article class="container px-0 post-single pb-5">
        
        {# About #}
        <div class="row">

            {# Headline, metadata #}
            <div class="col-12 col-md-6 col-xl-5 d-flex flex-wrap">
                <h1>
                    {{post.title}}
                </h1>

                <div >
                    {{post.excerpt|raw }}
                </div>

                <div class="metadata mt-auto w-100 d-flex align-items-end justify-content-between">


                    {# Publish date #}
                    <p class="mb-0">
                        {{post.publishDate|date("d. m. Y")}}
                    </p>

                    {# Categories #}
                    <div>
                        {% for cat in post.categories %}
                            <a href="/kategorie/{{cat.id}}" class="btn btn-sm btn-outline-success">
                                {{cat.title}}
                            </a>
                        {% endfor %}
                    </div>

                    
                </div>
            </div>


            {# Thumbnail #}
            <div class="col-12 col-md-6 offset-xl-1">
                <img class="thumb w-100" src="{{post.thumbnail}}" alt="{{post.title}}">
            </div>

        </div>

        {# Content #}
        <div class="row mt-5 pt-4">
            <div class="col-12 col-md-8 offset-md-1">
                {{post.content|raw }}
            </div>
        </div>
    </article>
    
{% endblock %}