{% extends "base.html.twig" %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block body %}

    {# Edit & Delete buttons #}
    {% if app.user %}
        <div class="row mb-4">
            <div class="col-12 d-flex justify-content-end">
                <a class="btn btn-sm btn-outline-primary" href="/blog/upravit-clanek/{{post.id}}">
                    Upravit článek
                </a>

                <a class="btn btn-sm btn-danger ms-3" href="/blog/smazat-clanek/{{post.id}}">
                    Smazat článek
                </a>
            </div>
        </div>
    {% endif %}

    {# Article itself #}
    <article class="container px-0 post-single pb-5">
        
        {# About #}
        <div class="row">

            {# Headline, metadata #}
            <div class="col-12 col-md-6 col-xl-5 d-flex flex-wrap">
                <h1 class="w-100">
                    {{post.title}}
                </h1>

                <div >
                    {{post.excerpt|raw }}
                </div>

                <div class="metadata mt-auto w-100 d-flex align-items-end justify-content-between">


                    {# Publish date #}
                    <p class="mb-0">
                        {{post.publishDate|date("d. m. Y")}}
                    </p>

                    {# Categories #}
                    <div>
                        {% for cat in post.categories %}
                            <a href="/kategorie/{{cat.id}}" class="btn btn-sm btn-outline-success">
                                {{cat.title}}
                            </a>
                        {% endfor %}
                    </div>

                    
                </div>
            </div>


            {# Thumbnail #}
            <div class="col-12 col-md-6 offset-xl-1 mt-4 mt-md-0">
                <img class="thumb w-100" src="{{post.thumbnail}}" alt="{{post.title}}">
            </div>

        </div>

        {# Content #}
        <div class="row mt-5 pt-4">
            <div class="col-12 col-md-8 offset-md-1">
                {{post.content|raw }}
            </div>
        </div>

        {# Comments #}
        <div class="row mt-5 pt-4">
            <div class="col-12 col-md-8 offset-md-1">

                {# List of Comments #}
                <div class="comment-list mb-4">
                    {% if comments %}
                        <h2 class="h4 mb-4">
                            Komentáře
                        </h2>
                        
                        {% for com in comments %}
                            <div class="comment border mb-3 p-3">

                                {# Header #}
                                <div class="d-flex flex-wrap justify-content-between border-bottom">
                                    <h3 class="h6 fw-bold mb-0">
                                        {{com.subject}}
                                    </h3>
                                    <p class="mb-0">
                                        Od: 
                                        {{com.email}}
                                    </p>
                                </div>

                                {# Content #}
                                <div class="mt-3">
                                    {{com.content|raw}}
                                </div>

                                {# Delete buttons #}
                                {% if app.user %}
                                    <div class="text-end">
                                        <a class="text-danger text-sm" href="/komentar/smazat/{{com.id}}">
                                            <small>
                                                Smazat komentář
                                            </small>
                                        </a>
                                    </div>
                                {% endif %}
                                
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>

                {# Comment Form #}
                <div class="cooment-form pt-5">
                    <h2 class="h4 mb-4">
                        Přidat komentář
                    </h2>

                    {{form_start(commentForm)}}

                        {{form_widget(commentForm)}}

                        <button class="btn btn-sm btn-success mt-3" >
                            Okomentovat
                        </button>

                    {{form_end(commentForm)}}
                </div>
            </div>
        </div>
    </article>
    
{% endblock %}